.container {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#28ACE2, #1C3C6D);
    
    .logo {
        width: 60px;
        height: 60px;
        background: url('../../../../assets/Logo.png') center/contain no-repeat;
        margin-top: 40px;
    }
}

h1, p {
    color: white;
}

h1{
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

p {
    font-family: 'Poppins';
    letter-spacing: 2px;
    font-size: 16px;
}

.divider {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '';
        height: 1px;
        flex: 1;
        background-color: white;
    }

    span {
        padding: 0 10px;
        color: white;
        background-color: transparent;
        margin: 0 5px;
    }
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 100%;
    max-width: 300px;
    margin: 2px 0;

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.start-button {
    width: 100%;
    max-width: 300px;
    background-color: teal !important;
    color: white;
    height: 55px;
}

.footer {
    margin-top: 20px;
    color: white;

    a {
        text-decoration: none;
        color: white;
        font-weight: 700;
    }

    a:hover {
        color: rgba(255, 255, 255, 0.748);
        font-weight: 800;
    }
}

// Bubbles
.bubble-top-right {
    z-index: 9999;
    position: absolute;
    bottom: -20%; 
    right: -20%; 
    width: 600px;
    height: 600px;
    opacity: 0.16;
    background-color: #06C19E;
    border-radius: 50%;
    animation: bubbleMove 3s 0.5s infinite alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
}

.bubble-bottom-left {
    z-index: 9999;
    position: absolute;
    top: -20%;  
    left: -20%;     
    width: 600px;
    height: 600px;
    opacity: 0.16;
    background-color: #06C19E;
    border-radius: 50%;
    animation: bubbleMove 3.2s infinite alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

//bubble animation

@keyframes bubbleMove {
    0%, 100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}

/*code for modal*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

.modal-header {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.modal-text {
    color: black;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    z-index: 1; 
}

.document-icon {
    width: 80px;
    height: 80px;
    background: url('../../../../assets/test_modal_img.svg') center/contain no-repeat;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    background-color: #00C29D !important;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    width: 40%;
}

/*fade out*/

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.test-container {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
    width: 60vw; 
    height: 50vh;
    margin: 0 auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.test-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.test-container button {
    background-color: #5AC0B1;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.test-container button:hover {
    background-color: #499288;
}

.test-container button:not(:last-of-type) {
    margin-right: 15px;
}

.test-container input[type="radio"] {
    display: none;
}

.test-container label {
    display: block;
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.test-container label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #5AC0B1;
    transform: translateY(-50%);
}

.test-container input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5AC0B1;
    transform: translateY(-50%);
}

.test-container .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: relative;
}

.option-container hr {
    margin: 25px 0;
    border-color: #ccc;
}

.options-container label {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.test-container .option {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.test-container .option:last-child {
    border-bottom: none;
}





  


