<div class="stats-container">
    <div class="user-stats">
        <h2>Stats</h2>
        <div class="level">A2 <span>Current Level</span></div>
        <div class="lessons">{{ lessonsCompleted }} <span>Lessons Completed</span></div>
        <div class="time-learned">126h <span>Time Spent Learning</span></div>
        <div class="longest-streak">22 days <span>Longest Streak</span></div>
        <div class="current-streak">12 days <span>Current Streak</span></div>
        <div class="date-joined">2023/03/23 <span>Date joined</span></div>
        <div class="live-sessions">22 <span>Live Sessions</span></div>
        <div class="time-chat">123h <span>Time in chat</span></div>
        <div class="messages">1223 <span>Messages sent</span></div>
        <div class="progress">
            <div class="progress-bar" style="width: 10%;"></div>
            <span>Progress to next level</span>
        </div>
    </div>
    
    <div class="performance">
        <h2>All time performance</h2>
        <!--FIND CHART LIBRARY-->
    </div>
</div>
