<div class="container">
    <div class="left-section">
        <div class="exercises-section">
            <div class="exercises-header">
                <h1>Exercises</h1>
                <span class="view-all"><a href="#" style="text-decoration: none; color: teal; font-family: 'Poppins'">View All</a></span>
            </div>
            <div class="scroll-container">
                <div class="sub-container-one">
                    <div class="text-container">
                        <h1 class="exercise-level">General English (A1)</h1>
                        <h4 class="exercise-details">Book 1, Step 1, Unit 1.1</h4>
                    </div>
                    <div class="progress-container">
                        <label>Exercise Completion</label>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="value">
                        </mat-progress-bar>
                        <label style="text-align: center;">100%</label>
                    </div>
                    <button mat-raised-button class="continue-button">
                        <mat-icon>sync</mat-icon> 
                        Review
                    </button>
                </div>       
                
                <!--<div class="sub-container-one">
                    <div class="text-container">
                        <h1 class="exercise-level">General English (A2)</h1>
                        <h4 class="exercise-details">Book 1, Step 2, Unit 3.1</h4>
                    </div>
                    <div class="progress-container">
                        <label>Exercise Completion</label>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="value">
                        </mat-progress-bar>
                        <label style="text-align: center;">100%</label>
                    </div>
                    <button mat-raised-button class="continue-button">
                        <mat-icon>sync</mat-icon> 
                        Review
                    </button>
                </div> 

                <div class="sub-container-one">
                    <div class="text-container">
                        <h1 class="exercise-level">General English (A2)</h1>
                        <h4 class="exercise-details">Book 1, Step 2, Unit 3.1</h4>
                    </div>
                    <div class="progress-container">
                        <label>Exercise Completion</label>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="value">
                        </mat-progress-bar>
                        <label style="text-align: center;">100%</label>
                    </div>
                    <button mat-raised-button class="continue-button">
                        <mat-icon>sync</mat-icon> 
                        Review
                    </button>
                </div> -->

            </div>
        </div>
    </div>
    <div class="right-section">
        <h1>History</h1>
        <h4>Activity over the past week</h4>
        <div class="graph-history">
            <div class="day" id="mon"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Mon</label></div>
            <div class="day" id="tue"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Tue</label></div>
            <div class="day" id="wed"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Wed</label></div>
            <div class="day" id="thu"><div class="bar" style="height: 33%;"><span>33%</span></div><label>Thur</label></div>
            <div class="day" id="fri"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Fri</label></div>
            <div class="day" id="sat"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Sat</label></div>
            <div class="day" id="sun"><div class="bar" style="height: 0%;"><span>0%</span></div><label>Sun</label></div>
          </div>                                        
    </div>            
</div>
