.exercise-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F5F5F5;
}

.past-exercises, .history {
    width: 45%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
    display: inline-block;
}

a {
    float: right;
    color: #33B79F;
    text-decoration: none;
}

.exercise {
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 0;
}

h3, p {
    color: #666666;
    margin: 0;
    margin-bottom: 5px;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FD5E7;
    padding: 10px;
    border-radius: 10px;
}

.score span {
    color: #FFFFFF;
    font-weight: bold;
}

button {
    padding: 5px 15px;
    background-color: #FFFFFF;
    color: #7FD5E7;
    border: 1px solid #7FD5E7;
    border-radius: 5px;
    font-weight: bold;
}

.history p {
    color: #666666;
    margin-bottom: 20px;
}

.chart {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 10%;
    background-color: #7FD5E7;
    border-radius: 10px;
    position: relative;
}

.bar span {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #666666;
}
