.custom-radio-button,
.custom-radio-button * {
    box-sizing: border-box;
}

.custom-radio-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.custom-radio-button input {
    position: static; /* Changed from absolute to static */
    opacity: 0;
    cursor: pointer;
    width: auto; /* Changed from 100% to auto */
    height: auto; /* Changed from 100% to auto */
    margin: 0;
    padding: 0;
    z-index: 1;
}

.custom-radio-button .outer-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #6200ea; /* color of outer circle */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-radio-button .inner-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #6200ea; /* color of inner circle */
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-radio-button input:checked ~ .outer-circle .inner-circle {
    opacity: 1;
}
