<div class="custom-radio-group">
    <label class="custom-radio-button">
        <input type="radio" name="options" value="1">
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        <span style="color: black; margin-left: 10px;">Option 1</span>
    </label>
    <label class="custom-radio-button">
        <input type="radio" name="options" value="1">
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        <span style="color: black; margin-left: 10px;">Option 1</span>
    </label>
</div>
