<div class="content-container">
    <div class="custom-radio-group" style="padding-top: 20px; padding-left: 10px;">
        <label class="custom-radio-button">
            <input type="radio" name="options" value="1" checked>
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
            <span style="color: black; margin-left: 10px; font-weight: bold;">Formal</span>
        </label>
        <label class="custom-radio-button">
            <input type="radio" name="options" value="2"> 
            <div class="outer-circle">
                <div class="inner-circle"></div>
            </div>
            <span style="color: black; margin-left: 10px; font-weight: bold;">Playful</span>
        </label>
    </div>

    <div class="chat-and-info-container">
        <div class="chat-container">
            <div class="chat-history" id="chat-history">
                <div class="chat-message chat-message-bot" *ngFor="let botMessage of botMessages">
                    <div style="display: flex; align-items: center;">
                        <div class="chat-icon">
                            <mat-icon>chat</mat-icon>
                        </div>
                        <div class="chat-message-content">
                            {{ botMessage }}
                        </div>
                    </div>
                    <div class="star-icon" (click)="toggleStar()">
                        <mat-icon [ngClass]="{'active': starActive}">{{ starActive ? 'star' : 'star_border' }}</mat-icon>
                    </div>
                </div>                                                                              
                <div class="chat-message chat-message-user" *ngFor="let userMessage of userMessages">
                    <i class="material-icons user-icon">account_circle</i>
                    <div class="chat-message-content">{{userMessage}}</div>
                </div>
            </div>
            <div class="chat-input">
                <input [(ngModel)]="userInput" type="text" id="chat-input-field" placeholder="Type your message here..." (input)="updateCharacterCount($event)" maxlength="1000" />
                <mat-icon id="send-icon" (click)="sendMessage()">send</mat-icon>
                <span id="char-count">0 / 1000</span>
            </div>
        </div>

        <div class="info-container">
            <div class="info-header">
              Starred Responses
            </div>
            <div class="search-bar">
              <mat-icon style="font-size: 16px; height: 16px; width: 16px;">search</mat-icon>
              <input type="text" class="search-input" placeholder="Search...">
            </div>
            <table class="starred-responses">
              <tbody>
                <tr (click)="onRowClick()">
                  <td class="response-text">This is some dummy...</td>
                  <td class="response-date">Oct 10, 2023</td>
                </tr>
                <tr (click)="onRowClick()">
                  <td class="response-text">Another dummy text...</td>
                  <td class="response-date">Oct 9, 2023</td>
                </tr>
              </tbody>
            </table>
        </div>  
    </div>
</div>
