<div class="custom-radio-group" style="padding-top: 20px; padding-left: 10px;">
    <label class="custom-radio-button">
        <input type="radio" name="options" value="1" checked>
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        <span style="color: black; margin-left: 10px; font-weight: bold;">Formal</span>
    </label>
    <label class="custom-radio-button">
        <input type="radio" name="options" value="2"> <!-- changed value to 2 for differentiation -->
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        <span style="color: black; margin-left: 10px; font-weight: bold;">Playful</span>
    </label>
</div>
