<div class="container">
    <div class="bubble-top-right"></div>
    <div class="bubble-bottom-left"></div>

    <div class="logo"></div>
    <p>Hello friend 👋🏻</p>
    <h1>Welcome to Lingo Labs!</h1>
    <p>First thing's first, what's your name? 😊</p>
    
    <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Your Name</mat-label>
        <input matInput type="default" #passwordConfirm required>
    </mat-form-field>
    
    <button mat-raised-button class="confirm-button">
        CONFIRM
    </button>

</div>
