<div class="container">
    <div class="bubble-top-right"></div>
    <div class="bubble-bottom-left"></div>

    <mat-horizontal-stepper class="stepper">

        <ng-template matStepperIcon="edit">
            <mat-icon>check</mat-icon>
        </ng-template>
    
        <!-- First Step -->
        <mat-step label="Your Name">
            <div class="step-content">
                <div class="logo"></div>
                <p style="margin-top: 20px;">Hello friend!👋🏻</p>
                <h1 style="margin-top: 20px;">Welcome to Lingo Labs!</h1>
                <p style="margin-top: 20px; margin-bottom: 25px">First thing's first, what's your name? 😊</p>
                <mat-form-field appearance="outline" hideRequiredMarker="true">
                    <mat-label>Your Name</mat-label>
                    <input matInput type="text" required>
                </mat-form-field>
                    <button mat-button class="confirm-button" matStepperNext>Next</button>
            </div>
        </mat-step>
    
        <!-- Second Step -->
        <mat-step label="Your Location">
            <div class="step-content">
                <div class="logo"></div>
                <p style="margin-top: 20px;">Hello Kyle!👋🏻</p>
                <h1 style="margin-top: 20px;">Great to meet you.</h1>
                <p style="margin-top: 20px; margin-bottom: 25px">And where are you from, Kyle?</p>
                <mat-form-field appearance="outline" hideRequiredMarker="true">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" required>
                </mat-form-field>
                <button mat-button class="confirm-button" matStepperNext>Next</button>
                <!--<button mat-button class="back-button" matStepperPrevious>Back</button>-->
            </div>
        </mat-step>
    
        <!-- Third Step -->
        <mat-step label="Verify Email">
            <div class="step-content">
                <div class="logo"></div>
                <h1 style="margin-top: 20px;">Final step, Kyle!</h1>
                <p style="margin-top: 20px; margin-bottom: 25px">Before you dive in, please check your emails.</p>
                <mat-form-field appearance="outline" hideRequiredMarker="true">
                    <mat-label>Verification Code</mat-label>
                    <input matInput type="email" required>
                    <mat-error class="error-message">Incorrect pin</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="confirm-button" (click)="confirmEmail()">Confirm Email</button>
                <div class="footer">
                    <p>Having trouble? <a href="#">Contact Support</a></p>
                </div>
            </div>
        </mat-step>
    
    </mat-horizontal-stepper>

</div>
