.container {
    position: relative;
    overflow: hidden;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#28ACE2, #1C3C6D);
    
    .logo {
        width: 50px;
        height: 50px;
        background: url('../../../../assets/Logo.png') center/contain no-repeat;
    }
}

h1, p {
    color: white;
}

.google-button {
    background-color: white;
    color: black;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;

    img.google-logo {
        width: 20px; 
        height: auto;
        margin-right: 10px;
    }
}

.divider {
    width: 100%;
    max-width: 300px;
    height: 1px;
    background-color: white;
    position: relative;
    margin: 20px 0;

    span {
        background-color: #28ACE2;
        padding: 0 10px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
}

mat-form-field {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.confirm-button {
    width: 100%;
    max-width: 300px;
    background-color: teal;
    color: white;
}

.footer {
    margin-top: 20px;
    color: white;

    a {
        text-decoration: underline;
        color: teal;
    }
}

// Bubbles
.bubble-top-right {
    z-index: 9999;
    position: absolute;
    top: -20%;   
    right: -20%; 
    width: 600px;
    height: 600px;
    opacity: 0.16;
    background-color: #06C19E;
    border-radius: 50%;
    animation: bubbleMove 3s 0.5s infinite alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
}

.bubble-bottom-left {
    z-index: 9999;
    position: absolute;
    bottom: -20%; 
    left: -20%;     
    width: 600px;
    height: 600px;
    opacity: 0.16;
    background-color: #06C19E;
    border-radius: 50%;
    animation: bubbleMove 3.2s infinite alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

//bubble animation

@keyframes bubbleMove {
    0%, 100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}


