<div class="container">
    <div class="bubble-top-right"></div>
    <div class="bubble-bottom-left"></div>

    <div class="logo"></div>
    <h1>Login</h1>
    <p>To your learning portal</p>
    
    <button class="google-button">
        <img src="../../../../assets/google_logo.svg" class="google-logo" alt="Google Logo">
        Continue with Google
    </button>
    

    <div class="divider">
        <span>OR</span>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password">
    </mat-form-field>

    <button mat-raised-button class="confirm-button">CONFIRM</button>
    <p class="footer">Need an account? <a href="#">SIGN UP</a></p>
</div>
