<div class="container">
    <div class="bubble-top-right"></div>
    <div class="bubble-bottom-left"></div>

    <div class="logo"></div>
    <h1>Login</h1>
    <p>To your learning portal</p>
    
    <button class="google-button" (click)="signInWithGoogle()">
        <img src="../../../../assets/google_logo.svg" class="google-logo" alt="Google Logo">
        Continue with Google
    </button>
    

    <div class="divider">
        <span>OR</span>
    </div>

    <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" #email required>
    </mat-form-field>
    
    <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Password</mat-label>
        <input matInput type="password" #password required>
    </mat-form-field>
    
    <button mat-raised-button class="confirm-button" 
            (click)="login(email.value, password.value)" 
            [disabled]="!email.value || !password.value">CONFIRM</button>
    
    <p class="footer">Need an account? <a routerLink="/register">SIGN UP</a></p>
    <br>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
