.container {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#28ACE2, #1C3C6D);
    position: relative;

    // Gradient circles
    &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: rgba(6, 193, 158, 0.16);
        z-index: -1;
    }
    
    &:before {
        top: -100px;
        left: -100px;
        width: 400px;
        height: 400px;
    }
    
    &:after {
        bottom: -100px;
        right: -100px;
        width: 400px;
        height: 400px;
    }
    
    .logo {
        width: 50px;
        height: 50px;
        background: url('../../../../assets/Logo.png') center/contain no-repeat;
    }
}

h1, p {
    color: white;
}

.google-button {
    background-color: white;
    color: black;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;

    img.google-logo {
        width: 20px; 
        height: auto;
        margin-right: 10px;
    }
}

.divider {
    width: 100%;
    max-width: 300px; // Set max-width to match input container width
    height: 1px;
    background-color: white;
    position: relative;
    margin: 20px 0;

    span {
        background-color: #28ACE2;
        padding: 0 10px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
}

mat-form-field {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.confirm-button {
    width: 100%;
    max-width: 300px;
    background-color: teal;
    color: white;
}

.footer {
    margin-top: 20px;
    color: white;

    a {
        text-decoration: underline;
        color: teal;
    }
}
