<mat-toolbar *ngIf="!isLoginPage() && !isRegisterPage() && !isRegisterWizardPage() && (observer.isMatched('(max-width: 767px)'))">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container *ngIf="!isLoginPage() && !isRegisterPage() && !isRegisterWizardPage()">
  <mat-sidenav #sidenav="matSidenav" (mouseenter)="onSidenavHover(true)" (mouseleave)="onSidenavHover(false)" class="bubble-animation">
    <img class="logo mat-elevation-z8" src="https://i.ibb.co/y6Ljfzw/Logo.png" width="25px">

    <button mat-button class="menu-button" routerLink="/home" [class.active]="router.url === '/home'">
      <div class="icon-text-wrapper">
        <mat-icon>home</mat-icon>
        <span class="icon-text" *ngIf="sidenavHovered">Home</span>
      </div>
    </button>    
    
    <button mat-button class="menu-button" routerLink="/past-exercises" [class.active]="router.url === '/past-exercises'">
      <div class="icon-text-wrapper">
        <mat-icon>assignment</mat-icon>
        <span class="icon-text" *ngIf="sidenavHovered">Past Exercises</span>
      </div>
    </button>
    
    <button mat-button class="menu-button" routerLink="/book-lesson" [class.active]="router.url === '/book-lesson'">
      <div class="icon-text-wrapper">
        <mat-icon>book_online</mat-icon>
        <span class="icon-text" *ngIf="sidenavHovered">Book a Lesson</span>
      </div>
    </button>
    
    <button mat-button class="menu-button" routerLink="/stats" [class.active]="router.url === '/stats'">
      <div class="icon-text-wrapper">
        <mat-icon>bar_chart</mat-icon>
        <span class="icon-text" *ngIf="sidenavHovered">Stats</span>
      </div>
    </button>
    
    <button mat-button class="menu-button" routerLink="/chatbot" [class.active]="router.url === '/chatbot'">
      <div class="icon-text-wrapper">
        <mat-icon>chat</mat-icon>
        <span class="icon-text" *ngIf="sidenavHovered">Chatbot</span>
      </div>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="greeting-text">
      {{ getGreeting() }}
    </div>
    <div class="bell-and-profile">
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="signOut()">
        <mat-icon>account_circle</mat-icon> 
    </button>
    </div>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>

<router-outlet *ngIf="router.url === '/login' || router.url === '/register'"></router-outlet>
