<div class="container">
    <div class="left-section">
        <div class="stats-section">
            <h1>Stats</h1>
            <div class="sub-container">
                <div class="info-icon" routerLink="/stats">
                    <mat-icon>more_vert</mat-icon>
                </div>                
                <div class="item" style="margin-left: 15px; margin-right: -25px;">
                    <div class="current-level">{{userLevel}}</div>
                    <label>Current Level</label>
                </div>
                <div class="item">
                    <div class="lessons-completed">{{userExComplete}}</div>
                    <label>Lessons Completed</label>
                </div>
                <div class="item">
                    <div class="learning-time">{{timeSpentLearning}}h</div>
                    <label>Time Spent Learning</label>
                </div>
            </div>                        
        </div>
        <div class="exercises-section">
            <h1>Exercises</h1>
            <div class="scroll-container">
                <div class="sub-container-one">
                    <div class="text-container">
                        <h1 class="exercise-level">General English (A2)</h1>
                        <h4 class="exercise-details">Book 1, Step 2, Unit 3.1</h4>
                    </div>
                    <div class="progress-container">
                        <label>Exercise Completion</label>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="progressValue">
                        </mat-progress-bar>
                        <label style="text-align: center;">50%</label>
                    </div>
                    <button mat-raised-button class="continue-button">
                        <mat-icon>play_arrow</mat-icon> 
                        Continue
                    </button>
                </div>                
                
                <div class="sub-container-one-unstarted">
                    <div class="text-container">
                        <h1 class="exercise-level">General English (A2)</h1>
                        <h4 class="exercise-details">Book 1, Step 2, Unit 3.2</h4>
                    </div>
                    <div class="progress-container">
                        <label>Exercise Completion</label>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="0">
                        </mat-progress-bar>
                        <label style="text-align: center;">0%</label>
                    </div>
                    <button mat-raised-button 
                        class="continue-button" 
                        [disabled]="isDisabled"
                        [ngClass]="{'red-button': isDisabled}">
                            <mat-icon>play_arrow</mat-icon> 
                            Start
                    </button>                   
                </div>

            </div>
        </div>
    </div>
    <div class="right-section">
        <h1>Progress</h1>
        <h4>Until the next level</h4>
        <div class="progress-container-one">
            <div class="progress-labels">
                <span class="left-label">A2</span>
                <span class="right-label">B1</span>
            </div>
            <mat-progress-bar
                mode="determinate"
                [value]="progressValue"
                color="secondary">
            </mat-progress-bar>
        </div>
        <h4 style="margin-top: 25px;">Performance</h4>
        <div class="custom-progress-bars">
            <div class="custom-progress-item">
                <div class="progress-label">Grammar</div>
                <div class="custom-progress-bar" style="background-color: #07FFD1; width: 50%;">
                    <div class="progress-percentage">50%</div>
                </div>
            </div>
            <div class="custom-progress-item">
                <div class="progress-label">Listening</div>
                <div class="custom-progress-bar" style="background-color: #E8BD7E; width: 60%;">
                    <div class="progress-percentage">60%</div>
                </div>
            </div>
            <div class="custom-progress-item">
                <div class="progress-label">Reading</div>
                <div class="custom-progress-bar" style="background-color: #93C955; width: 70%;">
                    <div class="progress-percentage">70%</div>
                </div>
            </div>
            <div class="custom-progress-item">
                <div class="progress-label">Vocabulary</div>
                <div class="custom-progress-bar" style="background-color: #28ACE2; width: 80%;">
                    <div class="progress-percentage">80%</div>
                </div>
            </div>
        </div>                        
    </div>            
</div>
