@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
/*SCROLL BAR STYLES*/

/* This will style the scrollbar for Chrome, Safari and newer versions of Opera */
::-webkit-scrollbar {
  width: 12px;  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #61C2FF;  /* color of the scroll thumb */
  border-radius: 6px;  /* roundness of the scroll thumb */
  border: 2px solid #f9f9f9;  /* creates padding around scroll thumb */
}

/* This will style the scrollbar for Internet Explorer, Edge, and Firefox */
body {
  scrollbar-width: thin;  /* "auto" or "thin"  */
  scrollbar-color: #61C2FF #f9f9f9;  /* scroll thumb color | track color */
}


::ng-deep .mat-progress-bar {
  height: 10px;  /* Set the height of the progress bar */
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: red;  /* Change the color of the progress bar fill */
}
