.booking-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F5F5F5;
}

.booking-section, .upcoming-section {
    width: 45%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.booking-section {
    background-color: #FFFFFF;
}

.upcoming-section {
    background-color: #7FD5E7; 
    position: relative;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #888888;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #555555;
    background-color: #F1F1F1;
}

button {
    padding: 10px 20px;
    background-color: #33B79F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.join-btn {
    background-color: #33B79F; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.lesson {
    border-top: 1px solid #B2E1E8;
    padding-top: 10px;
    margin-top: 10px;
}

.lesson-type {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #888888;
}

mat-icon {
    color: #888888;
    font-size: 24px;
}

.more-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
}
